.twitch {
  margin-top: 12px;
  text-align: center;
  color: white;
}

.twitch a {
  color: white;
  font-weight: bold;
}

body {
  background-color: #9768D1 !important;
}

.logo {
  margin-bottom: 12px;
  height: 100px;
}